/*MEDIA QUERY 820*/

@media screen and (min-width: 820px) and (max-width: 1180px){
/* ----------INICIO DIV 1-----------*/

    .background1 {
        background-image: url('../img/ofertaFondoComplete.png');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
        z-index: 1;
    }

    .inicioOfertas1 {
        display: flex;
        justify-content: center;
        text-align: center;
        position: absolute;
        left: 0;
        ;
        margin: 30px;
    }

    .inicioOfertas1 p {
        color: #FFFFFF;
        font-size: 2rem;
        font-family: 'Bowlby One', sans-serif;
    }


    .bannerPrincipalBombita {
        place-items: center;
        display: grid;
        width: 100%;
        position: absolute;
        left: 0;
    }

    .bannerPrincipalBombita2 img {
        width: 600px;
        padding-top: 100px;
    }

    .bannerPrincipalBombita2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: absolute;
        left: 0;
    }



    .botonPrincipal {
        margin-top: 45%;
        text-align: center;
        width: 100%;
        position: absolute;
        left: 0;
        z-index: 2;
    }

    span a {
        text-decoration: none;
        color: aliceblue;
    }

    button {
        outline: none;
        cursor: pointer;
        border: none;
        padding: 0.9rem 2rem;
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        position: relative;
        display: inline-block;
        letter-spacing: 0.05rem;
        font-weight: 700;
        font-size: 17px;
        border-radius: 500px;
        overflow: hidden;
        background: #990002;
        color: ghostwhite;
    }

    button span {
        position: relative;
        z-index: 10;
        transition: color 0.4s;
    }

    button:hover span {
        color: rgb(255, 255, 255);
    }

    button::before,
    button::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    button::before {
        content: "";
        background: #000;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    }

    button:hover::before {
        transform: translate3d(100%, 0, 0);
    }


    /*---------- ONDA -------------*/


    .onda1 svg {
        margin-top: -10%;
    }


    /* ------------SECTION2------------ */

    .section2 {
        display: flex;
        flex-direction: row;
        background-color: #E18C14;
        margin-top: -5%;
        height: 45vh;
    }

    .section2Txt2 {
        text-align: center;
        padding-top: 10%;
    }

    .section2Txt2 p {
        color: #fff;
        font-size: 2rem;
        font-family: 'Bowlby One', sans-serif;

    }

    .section2Txt3 p {
        color: #fff;
        font-size: 1rem;
        font-family: Arial, Helvetica, sans-serif;
    }

    .imgSection2 {
        padding: 100px;
    }

    /* -------------ofertas--------------- */
    .TxtOferta1 p {
        font-size: 2rem;
        color: #000000;
    }

    .TxtOferta1 {
        padding: 100px;
    }






    /* ------------------ARTICULS-------------- */



    .card {
        position: relative;
        width: 11.875em;
        height: 16.5em;
        box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: all 120ms;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 0.5em;
        padding-bottom: 3.4em;
        margin: 30px;
    }

    .card::after {
        content: "Contactarnos";
        padding-top: 1.25em;
        padding-left: 1.25em;
        position: absolute;
        left: 0;
        bottom: -60px;
        background: #00AC7C;
        color: #fff;
        height: 2.5em;
        width: 90%;
        transition: all 80ms;
        font-weight: 600;
        text-transform: uppercase;
        opacity: 0;
    }

    .card .title {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.9em;
        position: absolute;
        left: 0.625em;
        bottom: 1.875em;
        font-weight: 400;
        color: #000;
    }

    .card .price {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 0.9em;
        position: absolute;
        left: 0.625em;
        bottom: 0.625em;
        color: #000;
    }

    .card:hover::after {
        bottom: 0;
        opacity: 1;
    }

    .card:active {
        transform: scale(0.98);
    }

    .card:active::after {
        height: 3.125em;
    }

    .text {
        max-width: 55px;
    }

    .image {
        background: rgb(241, 241, 241);
        width: 100%;
        height: 100%;
        display: grid;
        place-items: center;
    }

    .image img {
        width: 150px;
    }

    .articulos {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ola2 svg {
        margin-top: -20%;
    }

    .fondoRojo {
        background-color: #990002;
        height: 100px;
    }

    .fondoBlanco {
        height: 100vh;
    }

    /* ---------SUSCRIPCION-------------- */


    .input-group {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .suscripcionTxt {
        margin-top: 10%;
    }

    .fondoBlanco {
        display: flex;
        flex-direction: row;
    }

    .suscripcionTxt {
        text-align: center;
    }

    .suscripcionTxt1 p {
        color: #2c2c2c;
        font-size: 2rem;
        font-family: 'Bowlby One', sans-serif;
    }

    .input-group {
        display: flex;
        align-items: center;
    }

    .input {
        min-height: 50px;
        max-width: 150px;
        padding: 0 1rem;
        color: #fff;
        font-size: 15px;
        border: 1px solid #990002;
        border-radius: 6px 0 0 6px;
        background-color: transparent;
    }

    .button--submit {
        min-height: 50px;
        padding: .5em 1em;
        border: none;
        border-radius: 0 6px 6px 0;
        background-color: #990002;
        color: #fff;
        font-size: 15px;
        cursor: pointer;
        transition: background-color .3s ease-in-out;
    }

    .button--submit:hover {
        background-color: #E18C14;
    }

    .input:focus,
    .input:focus-visible {
        border-color: #990002;
        outline: none;
    }


    /*------------- FOOTER ----------------*/




    .onda3 {
        margin-top: -21%;
    }

    .footerBackground {
        color: #fff;
        margin-top: -3%;
        height: 230px;
        background-color: #990002;
    }

    .firtsPart {
        width: 30%;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    .secondPart {
        text-align: center;
        width: 30%;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }


    .secondPart img {
        width: 150px;
        padding-bottom: 30px;
    }

    .thirdPart {
        width: 20%;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    
            
}