@media screen and (min-width: 820px) and (max-width: 1180px) {
        .nav_logo img{
        width: 100px;
    }
    
    .lenguajes {
        position: relative;
        padding-left: 0;
        display: flex;
        justify-content: center
    }

    .navbar {
        background-color: #000000;
        transition: 0.3s ease all;
    }

    .nav_items {
        position: absolute;
        top: 100px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 110vh;
        place-items: center;
        z-index: 3;

        /* esconder */

        left: 0;
        transform: translateX(-100%);

        /* animacion */
        transition: 0.3s ease all;
    }

    .nav_items a {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 3rem;
    }

    /* MENU HAMBURGUESA */

    .nav_logo {
        margin: 30px;
    }

    .open {
        transform: translateX(0) !important;
    }

    #checkbox {
        display: none;
    }

    .nav_toggle {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .toggle {
        position: relative;
        width: 40px;
        cursor: pointer;
        margin: 30px;
        height: calc(4px * 3 + 11px * 2);
    }

    .bar {
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: calc(4px / 2);
        background: #E18C14;
        color: inherit;
        opacity: 1;
        transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
    }

    /***** Collapse Animation *****/

    .bar--top {
        bottom: calc(50% + 11px + 4px/ 2);
        transition-property: bottom, margin, transform;
        transition-delay: calc(0s + 0.35s), 0s, 0s;
    }

    .bar--middle {
        top: calc(50% - 4px/ 2);
        transition-property: top, opacity;
        transition-duration: 0.35s, 0s;
        transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
    }

    .bar--bottom {
        top: calc(50% + 11px + 4px/ 2);
        transition-property: top, transform;
        transition-delay: 0s;
    }

    #checkbox:checked+.toggle .bar--top {
        bottom: calc(50% - 11px - 4px);
        margin-bottom: calc(11px + 4px/ 2);
        transform: rotate(45deg);
        transition-delay: calc(0s + 0.35s * .3), calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
    }

    #checkbox:checked+.toggle .bar--middle {
        top: calc(50% + 11px);
        opacity: 0;
        transition-duration: 0.35s, 0s;
        transition-delay: 0s, calc(0s + 0.35s);
    }

    #checkbox:checked+.toggle .bar--bottom {
        top: calc(50% - 4px/ 2);
        transform: rotate(-45deg);
        transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
    }
}


@media (max-width: 768px) {
    .nav_logo img{
        width: 100px;
    }
    
    .lenguajes {
        position: relative;
        padding-left: 0;
        display: flex;
        justify-content: center
    }

    .navbar {
        background-color: #000000;
        transition: 0.3s ease all;
    }

    .nav_items {
        position: absolute;
        top: 100px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 110vh;
        place-items: center;
        z-index: 3;

        /* esconder */

        left: 0;
        transform: translateX(-100%);

        /* animacion */
        transition: 0.3s ease all;
    }

    .nav_items a {
        color: rgb(255, 255, 255);
        text-align: center;
        font-size: 3rem;
    }

    /* MENU HAMBURGUESA */

    .nav_logo {
        margin: 30px;
    }

    .open {
        transform: translateX(0) !important;
    }

    #checkbox {
        display: none;
    }

    .nav_toggle {
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .toggle {
        position: relative;
        width: 40px;
        cursor: pointer;
        margin: 30px;
        height: calc(4px * 3 + 11px * 2);
    }

    .bar {
        position: absolute;
        left: 0;
        right: 0;
        height: 4px;
        border-radius: calc(4px / 2);
        background: #E18C14;
        color: inherit;
        opacity: 1;
        transition: none 0.35s cubic-bezier(.5, -0.35, .35, 1.5) 0s;
    }

    /***** Collapse Animation *****/

    .bar--top {
        bottom: calc(50% + 11px + 4px/ 2);
        transition-property: bottom, margin, transform;
        transition-delay: calc(0s + 0.35s), 0s, 0s;
    }

    .bar--middle {
        top: calc(50% - 4px/ 2);
        transition-property: top, opacity;
        transition-duration: 0.35s, 0s;
        transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
    }

    .bar--bottom {
        top: calc(50% + 11px + 4px/ 2);
        transition-property: top, transform;
        transition-delay: 0s;
    }

    #checkbox:checked+.toggle .bar--top {
        bottom: calc(50% - 11px - 4px);
        margin-bottom: calc(11px + 4px/ 2);
        transform: rotate(45deg);
        transition-delay: calc(0s + 0.35s * .3), calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
    }

    #checkbox:checked+.toggle .bar--middle {
        top: calc(50% + 11px);
        opacity: 0;
        transition-duration: 0.35s, 0s;
        transition-delay: 0s, calc(0s + 0.35s);
    }

    #checkbox:checked+.toggle .bar--bottom {
        top: calc(50% - 4px/ 2);
        transform: rotate(-45deg);
        transition-delay: calc(0s + 0.35s * 1.3), calc(0s + 0.35s * 1.3);
    }
}