/*MEDIA QUERY 820*/

@media screen and (min-width: 820px) and (max-width: 1180px){

    .background1 {
        background-image: url('../img/nosotrosPic1.jpg');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 50vh;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    }

    .section1Center {
        padding: 100px;
    }

    .section1Center p {
        color: #FFFFFF;
        font-size: 3rem;
        font-family: 'Bowlby One', sans-serif;
    }

    .bannerPrincipalBombita2 {
        padding: 100px;
    }






    /*---------- ONDA -------------*/

    .onda1 {
        margin-top: -10%;
    }

    #onda1 {

        filter: drop-shadow(10px 2px 4px rgba(0, 0, 0, 1));

    }

    .section1Txt1 p {
        font-size: 2rem;
        font-family: 'Bowlby One', sans-serif;
    }


    .section1 {
        display: grid;
        place-items: center;
        margin-top: 200px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section1Img {
        clip-path: none;
    }

    .section1Img img {
        height: 600px;
        width: 600px;
    }

    .section1Part2 {
        margin: 100px;
    }

    /* ------------SECTION2------------ */

    .fondoNaranja {
        background-color: #E18C14;
        margin-top: -1px;
    }

    .section2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    .section2Txt1 {
        padding: 50px;
    }

    .section2Txt1 p {

        font-size: 2rem;
        font-family: 'Bowlby One', sans-serif;
    }

    .section2Txt2 {
        padding: 20px 250px;
    }

    .section2Txt2 p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.5rem;
    }


    .section2Form {
        text-align: center;
        width: 50%;
        padding: 100px;
        border-radius: 75% 25% 52% 31% / 55% 56% 42% 44%;
        background-color: #990002;
        height: 600px;
    }





    /* -----TESTIMONIALES--------- */

    .testimonials {
        height: 100vh;
    }

    .testimonials .card {
        border-bottom: 3px #000000 solid !important;
        transition: 0.5s;
        margin-top: 60px;
        padding-bottom: 50px;
    }

    .testimonials .card i {
        background-color: #000000;
        color: #ffffff;
        width: 75px;
        height: 75px;
        line-height: 75px;
        margin: -40px auto 0 auto;
    }




    /*------------- FOOTER ----------------*/

    .onda3 {
        margin-top: -21%;
    }

    .footerBackground {
        color: #fff;
        margin-top: -1%;
        height: 230px;
        background-color: #990002;
    }

    .firtsPart {
        width: 30%;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    .secondPart {
        text-align: center;
        width: 30%;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }


    .secondPart img {
        width: 150px;
        padding-bottom: 30px;
    }

    .thirdPart {
        width: 20%;
        padding: 50px;
        justify-content: center;
        align-items: center;
    }
    
}

@media (max-width: 768px) {
    

    .bannerPrincipalBombita{
        padding-top: 30%;
    }
    .botonPrincipal {
        margin-top: 70%;
       
    }

    .bannerPrincipalBombita2 img {
        width: 600px;
        margin-top: 150px;
    }

    .section2Txt3 {
        padding: 10px 10px;
    }

    select {
        background-color: #E18C14;
        color: #FFFFFF;
        padding: 30px 30px;
        font-size: 1.5rem;
        border-radius: 50px;
    }

    .txtArticulo p{
        color: #ffffff;
        font-size: 0.75rem;
    }
    .txtArticulo {
        padding: 10px 30px;
    }
            
}